<div class="container">
	<div class="content">
	<p> 
		Address: <b> {{wallet.classicAddress}} </b>
	</p>
	<p>
		Balance: <b> {{balance}} XRP </b>
	</p>
	<p>
		DID: <b> {{did}} </b>
	</p>

	<hr><!-------------------------------------------------------------------->

	<form id="anagraphic">
		<div class="form-row">
			<div class="form-group">
				<label for="name"> Name: </label>
				<input type="text" id="name" name="name" required>
			</div>
			<div class="form-group">
				<label for="surname"> Surname: </label>
				<input type="text" id="surname" name="surname" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label for="dob"> Date of Birth: </label>
				<input type="date" id="dob" name="dob" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label for="place"> Place of Birth: </label>
				<input type="text" id="place" name="place" required>
			</div>
			<div class="form-group">
				<label for="country"> Country: </label>
				<select id="country" name="country" required>
					<option value=""> Select Country </option>
					<option value="IT"> Italy </option>
					<option value="UK"> United Kingdom </option>
					<!-- Add more countries... -->
				</select>
			</div>
		</div>
	</form>

	<button (click)="setDid($event)" class="set" id="genDid">
		Generate DiD
	</button>

	<hr><!-------------------------------------------------------------------->

	<button (click)="deleteDid($event)" class="delete" id="delDid">
		Delete DiD
	</button>
	<button (click)="logout()" class="logout">
		Logout
	</button>
	</div>
</div>