<div class="container">
	<div class="content">
	<h3> DID Generation and Deletion</h3>
	<p>
		From this page you can create or delete a decentralized identifier linked to your account.
	</p>
	<p>
		To create a DID you must fill in all the fields of the form, then click the "Create DID" button.
		Upon doing so, the page will update, showing a change in the balance of your account (due to the payed fees) and your decentralized identifier.
		<br>
		If you access this page but you already have a DID then the form will be disabled, and the "Delete DID" button will become enabled
	</p>
	<p> 
		Remember to save the generated DID before you log out, so you can test it in the <a href="./verify">verification page</a>. 
	</p>
	<hr>
	<p> 
		Address: <b> {{wallet.classicAddress}} </b>
	</p>
	<p>
		Balance: <b> {{balance}} XRP </b>
	</p>
	<p>
		DID: <b> {{did}} </b>
	</p>

	<hr><!-------------------------------------------------------------------->

	<form id="anagraphic">
		<div class="form-row">
			<div class="form-group">
				<label for="name"> Name: </label>
				<input type="text" id="name" name="name" required>
			</div>
			<div class="form-group">
				<label for="surname"> Surname: </label>
				<input type="text" id="surname" name="surname" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label for="dob"> Date of Birth: </label>
				<input type="date" id="dob" name="dob" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label for="place"> Place of Birth: </label>
				<input type="text" id="place" name="place" required>
			</div>
			<div class="form-group">
				<label for="country"> Country: </label>
				<select id="country" name="country" required>
					<option value=""> Select Country </option>
					<option value="IT"> Italy </option>
					<option value="UK"> United Kingdom </option>
					<!-- Add more countries... -->
				</select>
			</div>
		</div>
	</form>

	<button (click)="setDid($event)" class="set" id="genDid">
		Generate DID
	</button>

	<hr><!-------------------------------------------------------------------->

	<button (click)="deleteDid($event)" class="delete" id="delDid">
		Delete DID
	</button>
	<button (click)="logout()" class="logout">
		Logout
	</button>
	</div>
</div>