hr {
	width: 85%;
}

.container {
	display: flex;
	height: 100vh;
	/*flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;*/
}

.title {
	font-size: 24px;
	margin-bottom: 20px;
}

.content {
	padding: 35px;
	flex: 1;
}

.label {
	font-size: 18px;
}

.input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.button:hover {
	background-color: #0056b3;
}